@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Righteous');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.pageWrapper {
  display: flex;
  flex-direction: column;
  width: inherit;
  height: auto;
}

.pageWrapper > .slideInMenu {
  width: 75vw;
  height: 100vh;
  background-color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: -100%;
  transition: 0.4s cubic-bezier(1, -1, 0, 1.25);
  z-index: 2;
}

.pageWrapper > .slideInMenu > .closeButton > svg {
  --width: 15%;
  width: var(--width);
  position: relative;
  left: calc(100% - var(--width));
  transition: 0.4s cubic-bezier(1, -1, 0, 1.25);
  padding: 10px;
}

.pageWrapper > .slideInMenu > .closeButton > svg:hover {
  padding: 5px;
  cursor: pointer;
  transition: 0.4s cubic-bezier(1, -1, 0, 1.25);
}

.pageWrapper > .slideInMenu > div {
  align-self: flex-start;
  padding-top: 5vh;
  font-family: 'Josefin Sans', cursive;
  color: #828282;
  padding-bottom: 5vh;
  padding-left: 5vw;
  width: 100%;
}

.pageWrapper > .topNav {
  order: 1;
  width: 100%;
  background-color: #383838;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
}

.pageWrapper > .topNav > .hamburgerMenu {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pageWrapper > .topNav > .hamburgerMenu > .bars {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding-left: 5vw;
  padding-right: 5vw;
  height: 100%;
  grid-column: 1/2;
  transition: 0.25s ease;
}

.pageWrapper > .topNav > .hamburgerMenu > .bars svg > g > path {
  fill: #818181;
}

.pageWrapper > .topNav > .hamburgerMenu:hover {
  cursor: pointer;
  background-color: #222;
  transition: 0.25s ease;
}

.pageWrapper > .topNav > .orgName {
  color: #818181;
  font-weight: 300;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 5vh;
  padding-bottom: 5vh;
  align-items: center;
  justify-content: center;
  grid-column: 2/-1;
  font-size: 135%;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

.pageWrapper > .optionsNav {
  order: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #323232;
  grid-template-rows: 1fr;
  width: 100%;
}

.pageWrapper > .optionsNav > div:hover {
  background-color: #999;
  cursor: pointer;
}

.pageWrapper > .optionsNav > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.pageWrapper > .optionsNav > div > svg {
  padding: 0;
  transition: 0.25s ease;
}

.pageWrapper > .optionsNav > div > svg > g {
  fill: #818181;
  transition: 0.25s ease;
}

.pageWrapper > .optionsNav > div:hover > svg {
  padding: 5px;
  transition: 0.25s ease;
}

.pageWrapper > .optionsNav > div:hover > svg > g {
  fill: #323232;
  transition: 0.25s ease;
}

.pageWrapper > .optionsNav > .home {
  grid-column: 1/2;
}

.pageWrapper > .optionsNav > .about {
  grid-column: 2/3;
}

.pageWrapper > .optionsNav > .games {
  grid-column: 3/4;
}

.pageWrapper > .optionsNav > .contact {
  grid-column: 4/-1;
}

.pageWrapper > .introduction {
  order: 3;
  width: 100%;
  height: auto;
  background-color: #201f1f;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageWrapper > .introduction > p:nth-child(1) {
  text-align: center;
  color: #201f1f;
  background-color: rgba(#818181, 0.5);
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  animation-name: slideIn;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(.17,.67,.83,1.5);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.pageWrapper > .introduction > .welcomeImg {
  width: 100%;
  height: 35vh;
  background-color: black;
}

.pageWrapper > .introduction > p:nth-child(3) {
  text-align: justify;
  display: flex;
  flex-direction: column;
  padding-top: 5vh;
  padding-bottom: 5vh;
  align-items: center;
  text-align: justify;
  font-size: 100%;
  color: #888;
  font-family: 'Josefin Sans', sans-serif;
  width: 100vw;
}

.pageWrapper > .introduction > p:nth-child(3) span {
  font-size: 150%;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
  color: #201F1F;
  padding-left: 10vw;
  animation-name: fadeIn;
  animation-duration: 0.25s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: fowards;
  padding-right: 10vw;
  font-family: 'Righteous', cursive;
  clip-path: polygon(5% 0, 100% 0%, 95% 100%, 0% 100%);
  background-color: #828282;
  padding-top: 1vh;
  padding-bottom: 1vh;
  transition: 0.25s ease;
}

.pageWrapper > .introduction > p:nth-child(3) span:hover {
  padding-left: 13vw;
  padding-right: 13vw;
  font-size: 175%;
}

.pageWrapper > .introduction > p:nth-child(4) {
  text-align: justify;
  display: flex;
  flex-direction: column;
  padding-top: 10vh;
  padding-bottom: 10vh;
  align-items: center;
  /*margin-top: -22.9%;*/
  text-align: justify;
  font-size: 100%;
  color: #828282;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #323232;
  /*clip-path: polygon(0 29%, 100% 0%, 100% 100%, 0% 100%);*/
  width: 100vw;
}

.pageWrapper > .introduction > p:nth-child(4) span {
  font-size: 150%;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
  animation-name: fadeIn;
  animation-duration: 0.25s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: fowards;
  color: #828282;
  padding-left: 10vw;
  padding-right: 10vw;
  font-family: 'Righteous', cursive;
  clip-path: polygon(5% 0, 100% 0%, 95% 100%, 0% 100%);
  background-color: #201F1F;
  padding-top: 1vh;
  padding-bottom: 1vh;
  transition: 0.25s ease;
}

.pageWrapper > .introduction > p:nth-child(4) span:hover {
  padding-left: 13vw;
  padding-right: 13vw;
  font-size: 175%;
}
@keyframes fadeIn {
  0% {
    padding-left: 0;
    padding-right: 0;
    opacity: 0;
  }

  100% {
    padding-left: 10vw;
    padding-right: 10vw;
    opacity: 1;
  }
}
@keyframes slideIn {
  0% {
    width: 0;
    font-size: 0;
    opacity: 0;
    padding-top: 5vh;
    padding-bottom: 5vh;
    clip-path: circle(50% at 50% 50%);
  }

  100% {
    width: 100%;
    opacity: 1;
    padding-top: 5vh;
    padding-bottom: 5vh;
    clip-path: circle(70.7% at 50% 50%);
  }
}
